@import "../../../shared/styles/colors";
@import "../../../shared/styles/mixins";

.inputs {
  @include flex($a: default, $d: column);
  // gap: 8px;
  margin-top: 35px;
}

.questions {
  @include flex($a: default, $d: column);
  gap: 15px;
  & p {
    padding: 0 15px;
  }
}

.warning {
  min-height: 15px;
  & p {
    padding: 8px 0 8px 0;
    margin: 0 15px;
    color: $warning;
  }
}

.answerWarning {
  min-height: 15px;
  & p {
    color: $warning;
  }
}
