@import "../../../shared/styles/colors";
@import "../../../shared/styles/mixins";

.inputs {
  @include flex($a: default, $d: column);
  gap: 8px;
  margin-top: 35px;
  & p {
    margin: 0 15px;
    color: $warning;
  }
}

.questions {
  margin: 15px;
}

.warnings {
  height: 15px;
}
