@import "../../../shared/styles/colors";
@import "../../../shared/styles/mixins";

.profileBox {
  @include flex();
  @include size(275px, 135px);
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: $yellow100;
  border-radius: 10px;
}

.imgWrapper {
  @include size(80px, 80px);
  position: relative;
}

.uploadImg {
  cursor: pointer;
  display: none;
}

.imgWrapper:hover {
  .uploadImg {
    & p {
      padding: 0;
      color: $gray100;
    }
    display: block;
    @include size(80px, 80px);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    @include flex($d: column);
    gap: 5px;
    position: absolute;
    text-align: center;
    z-index: 999;
    padding: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}

.profileImg {
  @include size(80px, 80px);
  border-radius: 50%;
  vertical-align: middle;
}

.imgInput {
  display: none;
}

.profileTexts {
  @include flex($a: default, $d: column);
  gap: 4px;
  & span {
    font-weight: 700;
  }
}

.userName {
  font-weight: 700;
  font-size: 20px;
}
