@import "../../../shared/styles/colors";
@import "../../../shared/styles/mixins";

.inputWrapper {
  @include flex(column);
  margin-top: 35px;
  gap: 15px;
}

.register {
  width: 285px;
  margin-top: 10px;
  text-align: right;

  & span {
    font-weight: 700;
    color: $purple200;
    cursor: pointer;
  }
}