@import "src/shared/styles/colors", "src/shared/styles/mixins";

@mixin texts($top, $bottom) {
  color: $gray300;
  margin: $top 0 $bottom;
}

.footerContainer {
  @include flex($d: column);
  @include size(100%, 143.82px);
  background-color: $gray100;

  & p {
    @include texts(34px, 8px);
    font-weight: 700;
  }

  & a {
    @include texts(29px, 24px);
    text-decoration: none;
  }

  & img {
    width: 80px;
  }
}
