@import "colors", "mixins";

@mixin size90 {
  @include size(90px, 35px);
}

@mixin size200 {
  @include size(200px, 45px);
}

@mixin size285 {
  @include size(285px, 45px);
}

@mixin size400 {
  @include size(400px, 65px);
}

@mixin size1145 {
  @include size(1145px, 65px);
}

@mixin fontBold {
  font-weight: 700;
  line-height: 18px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;

  &.size90 {
    @include size90;
  }

  &.size200 {
    @include size200;
  }

  &.size285 {
    @include size285;
  }

  &.size400 {
    @include size400;
  }

  &.size1145 {
    @include size1145;
  }

  &.purple {
    background: $purple200;
    color: $white;

    &:hover {
      background: $purple300;
    }
  }

  &.kakao {
    background: $kakao;
    color: $black;
  }

  &.gray {
    background: $gray300;
    color: $white;

    &:hover {
      background: $gray400;
    }
  }

  &.bold {
    @include fontBold;
  }
}
