$black: #000000;
$white: #FFFFFF;

$gray100: #F5F5F5;
$gray200: #9E9E9E;
$gray300: #8D8D8D;
$gray400: #222222;

$yellow100: #FFFBDB;
$yellow200: #FFC700;
$yellow300: #CDA000;

$warning: #D80027;
$kakao: #FEE500;

$purple100: #A98BFF;
$purple200: #7F57F1;
$purple300: #784DF2;