@import "colors", "mixins";

.headerContainer {
  @include flex;
  @include size(100%, 50px);
  border-bottom: 1px solid $gray100;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 999;
}

.headerWrapper {
  @include flex($j: space-between);
  @include size(1120px, 50px);
}

.headerText {
  padding: 0 36.34% 0 31.78%;
}

.headerLogo {
  width: 80px;
}

.headerProfile {
  @include size(30px, 30px);
}
