@import "colors";

@mixin size285 {
  width: 285px;
  height: 45px;
}

input {
  border: none;
  background: $gray100;
  border-radius: 10px;
  padding: 0 13px;

  &::placeholder {
    color: $gray200;
    font-size: 12px;
  }

  &.size285 {
    @include size285();
  }
}