@import "colors", "mixins";

@mixin size285 {
  @include size(285px, 45px);
}

input {
  border: none;
  background: $gray100;
  border-radius: 10px;
  padding: 0 13px;

  &::placeholder {
    color: $gray300;
  }

  &.size285 {
    @include size285;
  }
}