@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex($j:center, $a:center, $d:row) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

@mixin grid($gtc, $gap) {
  display: grid;
  grid-template-columns: $gtc;
  column-gap: $gap;
  row-gap: $gap;
}