@import "../../shared/styles/colors";
@import "../../shared/styles/mixins";

.container {
  @include flex(column);
  width: 410px;
  margin: 100px auto;
}

.logo {
  width: 280px;
}

.title {
  font-size: 15px;
  margin-top: 18px;
}