@import "../../shared/styles/colors";

.container {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.logo {
  width: 410px;
}

.title {
  font-size: 15px;
  margin-top: 28px;
}