@import "../../shared/styles/colors";
@import "../../shared/styles/mixins";

.container {
  @include flex($d: column);
  width: 285px;
  margin: 150px auto;
}

.logo {
  width: 280px;
}

.texts {
  margin-top: 18px;
  margin-bottom: 35px;
  font-size: 15px;
}
