@import "../../../shared/styles/mixins";
@import "../../../shared/styles/colors";

.itemWrapper {
  @include flex($d: column);
}

.text {
  color: $gray100;
  font-size: 15px;
  font-weight: 700;
  margin: 50px;
}
