@import "../../../shared/styles/mixins";
@import "../../../shared/styles/colors";

.cardWrapper {
  @include size(200px, 200px);
  @include flex($d: column);
  background: $yellow100;
  border-radius: 10px;
  position: relative;
  @media (max-width: 470px) {
    @include size(91vw, 100px);
    @include flex;
    gap: 15px;
  }
}

.layer {
  @include size(200px, 200px);
  @include flex($d: column);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: absolute;
  @media (max-width: 470px) {
    @include size(91vw, 100px);
    @include flex;
    gap: 10px;
    padding: 30px;
  }
}

.message {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: $white;

  & span {
    font-size: 25px;
    font-weight: 700;
    color: $white;
  }

  @media (max-width: 470px) {
    & .hiddenBr {
      display: none;
    }
    & span {
      margin-left: 5px;
    }
  }
}

.arrow {
  width: 35px;
  margin-top: 25px;
  @media (max-width: 470px) {
    margin: 0;
  }
}

.status {
  color: $yellow300;
  font-size: 13px;
}

.profile {
  @include size(80px, 80px);
  object-fit: contain;
  margin-top: 15px;
  @media (max-width: 470px) {
    @include size(60px, 60px);
    margin: 0;
  }
}

.username {
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  @media (max-width: 470px) {
    margin: 0;
  }
}
