@import "../../../shared/styles/mixins";

.buttonWrapper {
  @include flex($a: flex-end, $d: column);
  width: 1120px;
  margin: 80px auto 0 auto;
  @media (max-width: 1120px) {
    width: 890px;
  }
  @media (max-width: 890px) {
    width: 660px;
  }
  @media (max-width: 660px) {
    width: 430px;
  }
  @media (max-width: 470px) {
    width: 91%;
  }
}

.purpleButtons {
  @include flex;
  gap: 13px;
}

.waiting {
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    font-weight: 500;
  }
}