@import "../../../shared/styles/mixins";

.contents {
  @include flex($d: column);
  width: 100vw;
  margin-bottom: 60px;
}

.cardGrid {
  @include grid(repeat(5, 200px), 30px);
  place-items: center;
  margin: 35px auto;

  @media (max-width: 1120px) {
    @include grid(repeat(4, 200px), 30px);
  }

  @media (max-width: 890px) {
    @include grid(repeat(3, 200px), 30px);
  }

  @media (max-width: 660px) {
    @include grid(repeat(2, 200px), 30px);
  }

  @media (max-width: 470px) {
    @include grid(repeat(1, 91vw), 20px);
  }
}